
.name{
    background: rgba(103, 103, 197, 0.288);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pageHeader{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.largeMenu{
    background: rgba(103, 103, 197, 0.288);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image{
    height: 3px;
}

.bodyHeaders{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration:underline
}

.contentHeaders{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.contentSubHeaders{
    font-size: 1.25rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.degreeStyles{
    font-style: italic;
    font-weight: bold;
}